

/* header start  */

.sign-in-btn a{
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    background-color: #00000000;
    padding: 8px 14px;
    border-radius: 5px;
    border: 1px solid #ffffff5d;
    transition: 0.3s;
}

.sign-in-btn a:hover{
    background-color: #16080cc0;
}

.sign-in-btn a span{
    background: linear-gradient(to right, #ff2222 0%, #e60590 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 17px;
}

/* Header end  */

main{
    min-height: 100vh;
    background-image: linear-gradient(to right, #000000f3, #000000f3,#000000f3,#000000f3),url(../images/bg-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main h1{
    font-family: 'Ysabeau Infant', sans-serif;
    letter-spacing: 0px;
    font-size: 85px;
    font-weight: 700;
    color: #fff;
    line-height: 100px;
    margin-bottom: 20px;
}

main h2{
    font-family: 'Ysabeau Infant', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}

main p{
    font-family: 'Ysabeau Infant', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.btn_ripple {
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    line-height: 58px;
    background-color: #FF6F4B;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #fff;
    transition: 0.3s;
    
}

.btn_ripple:hover{
    animation-name: ripple;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}


@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 #fff4, 0 0 0 0 #fff4;
    }

    80% {
        box-shadow: 0 0 0 20px #fff0, 0 0 0 40px #fff0;
    }

    100% {
        box-shadow: 0 0 0 0 #fff0, 0 0 0 0 #fff0;
    }
}
